[submodule "MHFoundation"]
	path = MHFoundation
	url = https://github.com/malhal/MHFoundation.git
[submodule "MCoreData"]
	path = MCoreData
	url = https://github.com/malhal/MCoreData.git
[submodule "MUIKit"]
	path = MUIKit
	url = https://github.com/malhal/MUIKit.git
[submodule "MCloudKit"]
	path = MCloudKit
	url = https://github.com/malhal/MCloudKit.git
[submodule "MCoreLocation"]
	path = MCoreLocation
	url = https://github.com/malhal/MCoreLocation.git
[submodule "MMapKit"]
	path = MMapKit
	url = https://github.com/malhal/MMapKit.git
